<header class="header">
<div class="navigation">
{% if page.full_logo %}
<a href="{{ site.url }}" class="logo">{{ site.title }}</a>
{% else %}
<a href="{{ site.url }}" class="logo">{{ site.short_logo }}</a>
{% endif %}
<ul class="menu">
<li class="menu__entry"><a href="{{ site.url }}">home</a></li>
<li class="menu__entry"><a href="javascript:void(0);" onclick="showPasswordModal()">career</a></li>
<li class="menu__entry"><a href="{{ site.url }}/projects">projects</a></li>
<li class="menu__entry"><a href="{{ site.url }}/posts">posts</a></li>
<li class="menu__entry"><a href="{{ site.url }}/tags">tags</a></li>
</ul>
</div>
<ul class="social-links">
<a class="social-links__entry">
<img src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Fstdrunner.github.io&count_bg=%235577AA&title_bg=%235577AA&icon=&icon_color=%23E7E7E7&title=hits&edge_flat=false"/>
</a>
{% if site.author.email %}
<a href="mailto:{{ site.author.email }}" class="social-links__entry" target="_blank">
<i class="fas fa-envelope-square"></i>
</a>
{% endif %}
{% if site.author.github %}
<a href="https://github.com/{{ site.author.github }}" class="social-links__entry" target="_blank">
<i class="fab fa-github"></i>
</a>
{% endif %}
{% if site.author.linkedin %}
<a href="https://in.linkedin.com/in/{{ site.author.linkedin }}" class="social-links__entry" target="_blank">
<i class="fab fa-linkedin-in"></i>
</a>
{% endif %}
{% if site.rss %}
<a href="{{ site.url }}/feed.xml" class="social-links__entry" target="_blank">
<i style="color: rgba( 254, 164, 1, 100%);" class="fas fa-rss"></i>
</a>
{% endif %}

{% if site.dark_mode %}
    <a class="social-links__entry" href='#' onclick="switch_dark_mode_icon(darkmode, 'dark_mode_toggle')">
        <i style="color: rgba( 254, 164, 1, 100%);" id="dark_mode_toggle" class="fas fa-sun"></i>
    </a>
{% endif %}
</ul>

<!-- Career Password Modal -->
<div class="career-password__modal hidden" id="career-password">
    <div class="career-password__header">
        <span class="modal-title">career</span>
    </div>
    <div class="career-password__content">
        <span>패스워드를 입력하세요.</span>
        <br />
        <input type="password" class="career-password__input" onkeyup="pressEnter(password_input.value)" id="password_input"></input>
    </div>
    <div class="career-password__footer">  
        <button class="confirm-btn" onclick="checkPassword(password_input.value)">confirm</button>
        <button class="cancel-btn" onclick="hidePasswordModal()">cancel</button>
    </div>
</div>
<div class="career-password__background hidden" onclick="hidePasswordModal()" id="career-password-bg"></div>
</header>
