.posts-pages {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.posts-page {
    font-size: 18px;
    padding : 0 10px 0;
    color : gray;
    cursor : pointer;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.posts-pages-title {
    padding-top: 0;
    text-align: center;
}

.posts-page_selected {
    padding : 0 10px 0;
    color: #565656;
    font-weight: 600;
    pointer-events: none;
}

.posts-page:hover {
    color : darkgray;
}