---
layout: page
---
{% assign posts = site.posts %}
<div class="posts_pannel">
  <div class="posts_menu">
    <hr>
    {% assign menus = site.data.menus.real-menus %}
    {% include menu_loop.html %}
    <hr>
    {% assign menus = site.data.menus.sample-menus %}
    {% include menu_loop.html %}
    <hr>
  </div>
  <div class="posts_list">
    {% assign posts = site.posts | where: 'menu', page.menu %}
    
    {% if posts[0] %}
        {% include post/post_loop.html %}
    {% else %}
        <p>No posts in this menu</p>
    {% endif %}
  </div>
</div>